@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg-grey {
    background-color: #F8F8F8;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}